.AhmedText {
  background-color: #FFFFFF;
  width: 100%;
  height: 85vh;
  font-size: 20vh;
  padding-left: 1%;
  font-family: Arial;
  color: #040303;
  position: fixed;
  top: 0;
  margin-right: 2%;

}

.LanguagesText {
  height: 110vh;
  margin-top: 75vh;
  position: absolute;
  background-color: #788585;
  width: 100%;
  font-size: 18vh;
  padding-left: 1%;
  font-family: Arial;
  color: #EAF2E3;
  margin-right: 2%;

}

.ProjectsText {
  color: #5E6472;
  position:absolute;
  top: 185vh;
  background-color: #8AF3FF;
  width: 100%;
  font-size: 18vh;
  padding-left: 1%;
  font-family: Arial;
  margin-right: 2%;

}
td {
    vertical-align: middle;
    left: 5%;
    padding-left: 1%;
    padding-top: 5%;
    font-size: 8vh;
}
table {
  width: 100%;
}

.LeftDiv {
  width:45%;
  float:left;
  color: #FFFFFF;
  padding-left: 10%;
}

.ProjectImage {
  height: 40vh;
}

.RightDiv {
  width:45%;
  float:right;
  color: #FFFFFF;
}
.LangDiv {
  padding-top: 10%;
  margin: 0;
  margin-right: 2%;

}
body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 2%;
  background-color: #788585;
}

.LangDesc {
  padding: 0;
  margin: 0;
  font-size: 5vh;
  vertical-align: 80%;

}
